body {
  /* background: #f5f3ee; */
  background-image: url(https://s3.amazonaws.com/shecodesio-production/uploads/files/000/110/968/original/valentin-beauvais-4YrVF0gVdjk-unsplash.jpg?1705511558);
  background-repeat: no-repeat;
  background-size: cover;
  font-family: "Poppins", sans-serif;
  color: rgba(0, 0, 0, 0.9);
}

a {
  color: #546d71;
}

.weather-app {
  background: #fff;
  max-width: 600px;
  margin: 30px auto;
  padding: 30px;
  box-shadow: 0 30px 50px rgba(65, 50, 100, 0.08);
  border-radius: 4px;
}

header {
  border-bottom: 1px solid #f5f3ee;
  padding: 0 0 30px 0;
}

.search-container {
  background: #fafafa;
  padding: 8px;
  border-radius: 5px;
}

.search-form-input {
  background: #fafafa;
  border: none;
  border-radius: 4px;
  width: 84%;
  font-size: 12px;
  font-weight: 700;
  letter-spacing: 1px;
  padding: 10px 20px;
}

::placeholder {
  color: lightgrey;
  opacity: 1;
}

.search-form-button {
  background: #3d4c53;
  padding: 12px 22px;
  margin-left: 5px;
  font-size: 10px;
  font-weight: 700;
  letter-spacing: 1px;
  border: none;
  border-radius: 8px;
  color: #fafafa;
}

main {
  padding: 30px;
}

.weather-app-data {
  display: flex;
  justify-content: space-between;
}

.weather-app-date {
  margin: 5px 0;
  font-size: 23px;
  line-height: 30px;
  font-weight: 400;
}

.weather-app-city {
  color: #000;
  margin: 0;
  font-family: "DM Serif Display", serif;
  font-size: 55px;
  line-height: 66px;
}

.weather-app-condition {
  margin: 5px 0;
  font-size: 26px;
  line-height: 30px;
  font-weight: 400;
}

.weather-app-details {
  margin-top: 40px;
  font-size: 18px;
  line-height: 25px;
  font-weight: 500;
}

.weather-app-details strong {
  color: #414a4e;
  font-weight: 400;
}

.weather-app-temperature-container {
  display: flex;
}

.weather-app-icon {
  height: 88px;
  width: 88px;
  margin-top: 40px;
}

.weather-app-temperature {
  font-family: "DM Serif Display", serif;
  font-size: 111px;
  margin-left: 10px;
  margin-right: 2px;
  font-weight: 300;
}

.weather-app-unit {
  margin-top: 35px;
  font-size: 22px;
  font-weight: 500;
}

footer {
  border-top: 1px solid #f5f3ee;
  padding: 30px 0 0 0;
  text-align: center;
  font-size: 10px;
  color: rgba(0, 0, 0, 0.4);
}
