body {
  font-family: "Poppins", sans-serif;
  color: rgba(0, 0, 0, 0.9);
  background: #fafafa;
}

a {
  color: #302f2f;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
  cursor: pointer;
}

.weather-app-main-container {
  background: #fff;
  max-width: 600px;
  margin: 40px auto;
  padding: 30px;
  box-shadow: 0 30px 50px rgba(65, 50, 100, 0.08);
  border-radius: 4px;
}

header {
  padding: 0 0 30px 0;
}

.search-container {
  background: #fafafa;
  padding: 8px;
  border-radius: 5px;
}

.search-form-input {
  background: #fafafa;
  border: none;
  border-radius: 4px;
  font-size: 12px;
  font-weight: 700;
  letter-spacing: 0.6px;
  width: 83%;
  padding: 10px 20px;
}

::placeholder {
  color: lightgrey;
  opacity: 1;
}

.search-form-button {
  background: #fff;
  color: #fff;
  border: none;
  border-radius: 8px;
  font-size: 11px;
  font-weight: 700;
  letter-spacing: 0.6px;
  padding: 12px 22px;
  margin-left: 5px;
}

main {
  padding: 30px;
}

.current-day-container {
  display: flex;
  justify-content: space-between;
}

.weather-app-date {
  margin: 5px 0;
  font-size: 23px;
  line-height: 30px;
  font-weight: 400;
}

.weather-app-city {
  color: #000;
  font-family: "DM Serif Display", serif;
  font-size: 55px;
  line-height: 67px;
  margin: 0 0 7px 0;
}

.weather-app-temperature-container {
  display: flex;
}

.weather-app-icon {
  height: 100px;
  width: 100px;
  margin-top: 6px;
}

.weather-app-temperature {
  font-family: "DM Serif Display", serif;
  font-size: 118px;
  font-weight: 300;
  margin-left: 10px;
  margin-right: 2px;
  margin-top: -31px;
}

.weather-app-unit {
  margin-top: 6px;
  font-size: 22px;
  font-weight: 500;
}

.weather-app-data {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #f5f3ee;
  padding: 0 0 43px 0;
}

.weather-app-details {
  margin-top: 25px;
  font-size: 18px;
  line-height: 22px;
  font-weight: 500;
}

.weather-app-details strong {
  opacity: 0.7;
  font-weight: 400;
}

.forecast-headline {
  font-family: "DM Serif Display", serif;
  text-align: center;
  font-size: 39px;
  margin: 38px 0 20px 0;
}

.weather-forecast {
  margin-top: 34px;
  text-align: center;
  display: flex;
  justify-content: space-between;
}

.weather-forecast-date {
  font-size: 20px;
}

.weather-forecast-icon {
  width: 80%;
}

.weather-forecast-temperature {
  font-size: 17px;
  display: inline;
}

.weather-forecast-temperature strong {
  font-family: "DM Serif Display", serif;
  font-size: 20px;
  margin-right: 5px;
}

footer {
  text-align: center;
  font-size: 10px;
  color: rgba(0, 0, 0, 0.4);
  border-top: 1px solid #f5f3ee;
  padding: 30px 0 0 0;
}

.sunny {
  background-image: url(https://s3.amazonaws.com/shecodesio-production/uploads/files/000/111/723/original/Sunny.jpg?1705952058);
  background-repeat: no-repeat;
  background-size: cover;
}

.cloudy {
  background-image: url(https://s3.amazonaws.com/shecodesio-production/uploads/files/000/111/724/original/Cloudy.jpg?1705952065);
  background-repeat: no-repeat;
  background-size: cover;
}

.rainy {
  background-image: url(https://s3.amazonaws.com/shecodesio-production/uploads/files/000/111/725/original/Rainy.jpg?1705952074);
  background-repeat: no-repeat;
  background-size: cover;
}

.thunderstorm {
  background-image: url(https://s3.amazonaws.com/shecodesio-production/uploads/files/000/111/726/original/Thunderstorm.jpg?1705952090);
  background-repeat: no-repeat;
  background-size: cover;
}

.snow {
  background-image: url(https://s3.amazonaws.com/shecodesio-production/uploads/files/000/111/733/original/Snow1.jpg?1705953478);
  background-repeat: no-repeat;
  background-size: cover;
}

.mist {
  background-image: url(https://s3.amazonaws.com/shecodesio-production/uploads/files/000/111/732/original/Mist.jpg?1705953469);
  background-repeat: no-repeat;
  background-size: cover;
}

.night {
  background-image: url(https://s3.amazonaws.com/shecodesio-production/uploads/files/000/111/729/original/Night.jpg?1705952128);
  background-repeat: no-repeat;
  background-size: cover;
}
